@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

.signup-container{
    width:100%;
    min-height:100vh;
    display:flex;
    background:#000;
    color:white;
}

.signup-left{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.x-logo{
    font-size:350px;
}

.signup-right{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}

.signup-right h1{
    font-size:58px;
    font-weight:900;
    margin-bottom:40px;
}

.signup-form{
    width:100%;
    max-width:380px;
}

.signup-form input{
    width:100%;
    background:#000;
    color:white;
    border:1px solid #2f3336;
    border-radius:6px;
    padding:16px;
    margin-bottom:18px;
    font-size:16px;
    outline:none;
}

.signup-form input:focus{
    border:1px solid #1d9bf0;
}

.create-btn{
    width:100%;
    background:white;
    color:black;
    border:none;
    border-radius:999px;
    padding:14px;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
}

.create-btn:hover{
    background:#e5e5e5;
}

.signin-text{
    margin-top:35px;
    color:#71767b;
    font-weight:600;
}

.signin-btn{
    width:380px;
    margin-top:15px;
    background:#000;
    color:white;
    border:1px solid #536471;
    border-radius:999px;
    padding:14px;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
}

.signin-btn:hover{
    background:#16181c;
}

@media(max-width:1000px){

.signup-container{
    flex-direction:column;
}

.signup-left{
    padding:40px;
}

.x-logo{
    font-size:120px;
}

.signup-right{
    align-items:center;
    padding:30px;
}

.signup-right h1{
    text-align:center;
    font-size:42px;
}

}